* {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER */

.header-container {
    padding: 10px 30px;
    background-color: #2e35f1;
    display: flex;
    justify-content: center;    
}  

.header {
    /* border: 1px solid #fff; */
    width: 1080px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: auto;
    width: 50px;
}

.links {
    display: flex;
    align-items: center;
}

.icons {
    display: flex;
}

.text-header {
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding-right: 5px;
}

.github, .odin, .help {
    height: auto;
    width: 30px;
    padding-left: 5px;
}


/* BLOCKS */

/* 1 */
.block-container-one {
    padding: 40px 30px;
    background-color: black;
    display: flex;
    justify-content: center;
}  

.block-one {
    /* border: 1px solid #fff;  */
    width: 1080px;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.text-one {
    color: white;
    font-size: 15px;
    min-width: 300px;
}

.p-one, .p-two {
    font-weight: lighter;
    padding-top: 20px;
}

.img-one {
    height: auto;
    width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-one {
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: #2e35f1;
    border: 0;
    border-radius: 10px;
    height: 40px;
    width: 200px;
    margin-top: 20px;
}

/* 2 */
.block-container-two {
    padding: 0 30px 40px 30px;
    background-color: white;
    display: flex;
    justify-content: center;
} 

.motivation {
    /* border: 1px solid black; */
    width: 1080px;
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;
    gap: 30px;
}

h2 {
    text-align: center;
    padding: 40px 30px;
    color: #2e35f1;
}

.motivation-one, .motivation-two, .motivation-three, .motivation-four {
    /* border: 1px solid black; */
    max-width: 200px;
    font-size: 10px;
    text-align: center;
}

.icon-one, .icon-two, .icon-three, .icon-four {
    height: 60px;
    width: 60px;
    padding-bottom: 10px;
}

